<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- HEAD BASICO -->
	<thymeleaf th:replace="fragments/head :: basico"></thymeleaf>
	
	<!-- FONTS -->
	<thymeleaf th:replace="fragments/head :: fonts"></thymeleaf>

	
	<!-- CSS GERAL -->
	<thymeleaf th:replace="fragments/head :: css"></thymeleaf>

	<!-- CONFIGURAÇÕES ESPECIFICAS -->	
	<title>Home</title>

	<style type="text/css">
		nav {
			padding-bottom: 0;
		}
	</style>
</head>
<body>
	<section class="hero is-info is-fullheight">
		<div class="hero-head">
			<!-- NAVBAR -->
			<nav th:replace="fragments/navbar :: default" style="padding-bottom: 0;"></nav>
		</div>
		<div class="hero-body">
			<div class="container">
				<h1 class="title f-francois">Gestão de Pessoas</h1>
				<a class="button is-large is-primary" th:href="@{/empresa/listar}">Manter Empresa</a>
				<a th:href="@{/cargo/listar}" class="button is-large is-link">Manter Cargo</a>
				<a class="button is-large is-success" th:href="@{/funcionario/novo}">Cadastrar Funcionário</a>
			</div>
		</div>
	</section>
</body>
</html>