<nav th:fragment="default" class="navbar is-info" role="navigation" aria-label="main navigation">
	<div class="container">
		<div class="navbar-brand" style="font-family: 'Francois One', sans-serif;">
			<a class="navbar-item" th:href="@{/index}">
				<h1 class="title is-3 has-text-white">
					<i class="fas fa-building"></i> Gestão de Pessoas
				</h1>
			</a>
			<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>
		<div id="navbarBasicExample" class="navbar-menu f-francois">
			<div class="navbar-end">
				<a th:href="@{/}" class="navbar-item"> Home </a>
				<a th:href="@{/empresa/}" class="navbar-item"> Empresas </a>
				<a th:href="@{/cargo/}" class="navbar-item"> Cargos </a> 
				<a th:href="@{/funcionario/}" class="navbar-item"> Funcionarios </a>
			</div>
		</div>
	</div>
</nav>